<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @profile_user.name %>
</p>

<% @profile_items.each do |profile_item| %>
<div>
	<p>
	  <strong><%= profile_item.profile_item_category.title %>:</strong>
	  <%= profile_item.profile_item_data.value %>
	</p>
</div>
<% end %>

