<p id="notice"><%= notice %></p>


<h2>
  <%= @profile_user.name %>
</h2>

<%= react_component("Profile", { profile: { values: @basic_profile_items, profile_items: @profile_items, item_data: @item_data, categories: @categories, privacy_settings: @privacy_settings }, editing: current_user == @profile_user }) %>

