<p id="notice"><%= notice %></p>

<h1>Connections</h1>

  <%= react_component("Connection", {
    connection_tokens: @connection_tokens,
    connection_people: @connection_people,
    incoming_requests: @incoming_requests,
    request_people: @request_people
  }) %>
