<p id="notice"><%= notice %></p>

<p>
  <strong>Existing connections:</strong>
  <%= @connection.user %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
