<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.name %></h1>
    <ul>
      <li>You and <%= @user2.name %> are matched!</li>
      <li>You have both selected activity: <%= @activity.title %></li>
      <li>You can contact them at <%= @user2.email %></li>
    </ul>
  </body>
</html>