<% compatibilities.each do |compatibility| %>
  <% if !compatibility.dealbreaker %>
    <% other_person = compatibility.get_other_person_by_id(@match_person.id) %>
    <div class="row">
      <div class="col-lg-3">
        <%= link_to other_person.name, compatibility_path(compatibility.id) %>
      </div>
      <div class="col-lg-2">
      	<%= check_box_tag('compatibility', 'introduction_made', compatibility.introduction_made, disabled: true) %>
      </div>
      <div class="col-lg-7">
        <%= compatibility.notes %>
      </div>
    </div>
  <% end %>
<% end %>
