<% compatibilities.each do |compatibility| %>
  <% if !compatibility.dealbreaker %>
    <% other_person = compatibility.get_other_person_by_id(@match_person.id) %>
    <div class="row">
      <div class="col-lg-2">
        <%= link_to other_person.name, compatibility_path(compatibility.id) %>
      </div>
      <div class="col-lg-1">
        <%= other_person.age %>
      </div>
      <div class="col-lg-8">
		  <%= render partial: 'compatibilities/horizontal_form', locals: {compatibility: compatibility} %>
	  </div>
    </div>
  <% end %>
<% end %>
