<p id="notice"><%= notice %></p>

<h1>Privacy Groups</h1>

<table>
  <tbody>
    <% @privacy_groups.each do |privacy_group| %>
      <tr>
        <td><b><%= link_to privacy_group.name, privacy_group %></b></td>
        <td><%= link_to 'delete', privacy_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Privacy Group', new_privacy_group_path %>
