<p id="notice"><%= notice %></p>

<h1><%= @privacy_group.name %></h1>

<%= react_component("PrivacyGroup", { privacy_group: @privacy_group, members: @members, member_users: @member_users, eligible_users: @eligible_users }) %>

<%= link_to 'Back', privacy_groups_path %>
